@media screen and (max-width : 1120px) {

    header li>a {
        padding: 13px 15px;
    }

    .celular1 img {
        width: 500px;
        height: 540px;
    }

    .txt-home1 {
        font-size: 2rem;
    }
    
    .txt-home2 {
        font-size: 1.6rem;
    }

    .txt-home>p>img {
        width: 160px;
        margin-top: 3px;
    }

    .qrcode>img {
        width: 130px;
    }

    .bloco-txt {
        width: 170px;
        padding: 10px 30px 10px 14px;

    }
    
    .bloco-txt>img.setaBaixar {
        width: 20px
    }
    
    .bloco-txt>img.android {
        width: 32px;
        margin-top: -23px;
    }
    
    .bloco-txt>p ,span {
        font-size: 0.64rem;
    }

}

@media screen and (max-width: 930px) {

    .home {
        background: radial-gradient(60.1% 60.83% at 50% 50%, #219349 0%, #075925 83.98%);
        padding: 110px 15px 50px 15px;
        flex-direction: column;
        align-items: center;
    }

    .celular1 img {
        display: none;
    }

    .qrcode {
        display: none;
    }

    .celular2 {
        display: block;
    }

    .logo img {
        width: 130px;
    }

    .conteudoHome {
        margin: 0;
    }

    .txt-home {
        margin-bottom: 80px;
    }

    .qrcode {
        margin: 0;
    }

    .nav-item {
        display: none;
    }

    .btnFC {
        display: none;
    }

    .mobile-menu { 
        box-shadow: 0 1px 2px -5px rgba(0, 0, 0, 0.775);
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button img {
        vertical-align: middle;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 0.7rem 0 0.7rem 0;
    }

    .mobile-menu .btnFC {
        display: block;
        padding: 0 2rem 1rem 2rem;
    }

    .mobile-menu .btnFC button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width : 550px) {

    .home {
        padding: 110px 20px 30px 20px;
    }

    .logo img {
        width: 110px;
    }

    .txt-home {
        margin-bottom: 40px;
    }

    .txt-home1 {
        font-size: 1.4rem;
    }

    .txt-home2 {
        font-size: 1.1rem;
    }

    .txt-home>p>img {
        width: 100px;
        margin-top: 4px;
        margin-left: -10px;
    }

    .celular2 img {
        width: 260px;
        height: 190px;
    }
}