@media screen and (max-width : 1120px) {

    header li>a {
        padding: 13px 15px;
    }

    .celular1 img {
        width: 500px;
        height: 540px;
    }

    .txt-home1 {
        font-size: 2rem;       
    }
    
    .txt-home2 {
        font-size: 1.75rem;
    }
    
    .txt-home>p>img {
        width: 170px;
        margin-top: 3px;
        margin-left: -18px;
    }

    .qrcode>img {
        width: 130px;
    }

    .bloco-txt {
        width: 170px;
        padding: 10px 30px 10px 14px;

    }
    
    .bloco-txt>img.setaBaixar {
        width: 20px
    }
    
    .bloco-txt>img.android {
        width: 32px;
        margin-top: -23px;
    }
    
    .bloco-txt>p ,span {
        font-size: 0.64rem;
    }

    .box-txtRecursos>.txtRecursos>h1 {
        font-size: 1.8rem;
    }   
    
    .slider {
        width: 720px;
        height: 490px;
    }

    .navigation-auto {
        width: 720px;
        margin-top: 420px;
    }

    .manual-navigation {
        width: 720px;
        margin-top: 20px ;
    }
    
}

@media screen and (max-width: 930px) {

    .home {
        background: radial-gradient(60.1% 60.83% at 50% 50%, #219349 0%, #075925 83.98%);
        padding: 110px 5px 10px 5px;
        flex-direction: column;
        align-items: center;
    }

    .celular1 img {
        display: none;
    }

    .qrcode {
        display: none;
    }

    .celular2 {
        display: block;
    }

    .logo img {
        width: 130px;
    }

    .conteudoHome {
        margin: 0;
    }
    
    .txt-home>p>img {
        width:165px;
        margin-top: 3px;
        margin-left: -18px;
    }

    .celular2 img {
        width: 400px;
        height: 400px;
        margin-top: 40px;
    }

    .qrcode {
        margin: 0;
    }

     .quadrado1 {
        display: none;
    }
    
    .quadrado2 {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .nav-link {
        padding: 13px 10%;
    }

    .btnFC {
        display: none;
    }

    .mobile-menu { 
        box-shadow: 0 1px 2px -5px rgba(0, 0, 0, 0.775);
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button img {
        vertical-align: middle;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 0.7rem 0 0.7rem 0;
    }

    .mobile-menu .btnFC {
        display: block;
        padding: 0 2rem 1rem 2rem;
    }

    .mobile-menu .btnFC a { 
        padding: 13px 10%;
    }


    .mobile-menu .btnFC button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .box-txtRecursos {
        padding: 20px 0 25px 0;
        width: 90%;
    }

    .box-txtRecursos>.txtRecursos>h1 {
        font-size: 1.6rem;
    }   
    
    .slider {
        width: 660px;
        height: 400px;
    }

    .navigation-auto {
        width: 660px;
        margin-top: 370px;
    }

    .manual-navigation {
        width: 660px;
        margin-top: -30px ;
    }

    .manual-btn {
        padding: 5px;
    }

    .navigation-auto div {
        padding: 5px;
    }
}

@media screen and (max-width : 720px) { 

    .box-txtRecursos {
        padding: 17px 0 20px 0 ;
    }

    .txtRecursos {
        width: 300px;
    }

    .topic-mobile {
        display: block;
    }
    
    .slide .img-mob {
        display: block;
    }

    .slide .img-desk  {
        display: none;
    }
    
    .navigation-auto {
        display: none;
    }

    .manual-navigation {
        display: none;
    }

    .topic-mobile img{
        width: 40vw;   
        height: auto;
    }
  
    .slider {
        width: 37vw;
        height: 73vw;
    }

}

@media screen and (max-width: 530px) {
    .topic-mobile img{
        width: 42vw;   
    }
  
    .slider {
        width: 45vw;
        height: 89vw;
    }
}

@media screen and (max-width : 435px) {

    .home {
        padding: 100px 5px 10px 5px;

    }

    .nav-link {
        font-size: 0.9rem;
    }

    .nav-item {
        margin-bottom: 3px;
    }

    .btnFC button a {
        font-size: 0.9rem ;
    }

    .logo img {
        width: 120px;
    }

    .txt-home1 {
        font-size: 1.85rem;      
    }
    
    .txt-home2 {
        font-size: 1.65rem;
    }
    
    .celular2 img {
        min-width: 270px;
        min-height: 270px;
        width: 80vw;
        height: 80vw;
        margin-top: 30px;
    }

    .box-txtRecursos {
        padding: 10px 0 15px 0 ;
    }

    .box-txtRecursos>.txtRecursos>h1 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width : 390px) {
    .topic-mobile img{
        width: 40vw;   
        min-width: 120px;
    }
  
    .slider {
        min-width: 110px;
        min-height: 220px;
        width: 40vw;
        height: 79vw;
    }
}   