/* Importar a fontes da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
}

/*Fale Conosco*/
.fundoFaleConosco {
    background: radial-gradient(60.1% 60.83% at 50% 50%, #24A351 0%, #075925 83.98%);
    background-size: cover;
    background-attachment: fixed;
}

.faleConosco {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.content-FC {
    display: flex;
    flex-direction: column;
    background-color: #F7FFFF;
    padding: 30px 50px 30px 65px;
    border-radius: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 0px 20px;
    position: relative;
}

.tituloFormFC {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: #043014;
}

.menu-FC {
    display: flex;
    justify-content: space-between;
}

.btnVoltarIndex a {
    margin-left: -40px;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('/inovafin_site/img/iconBtnVoltarResp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.irPainelAdm {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
}

.irPainelAdm img {
    width: 20px;
}

.irPainelAdm p {
    color: #043014;
    font-weight: 600;
    font-size: 1.05rem;
    display: inline;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formulario label {
    line-height: 1.4;
    font-weight: 500;
    font-size: 1.05rem;
}

.formulario input,
textarea {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 2px;
    padding: 6px 10px;
    outline: none;
    width: 350px;
    height: 40px;
}

.formulario 
.txtNome:focus,
.txtEmail:focus,
.txtMsg:focus {
    /* border: 2px solid #3bba53b8;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.742);
    outline: none; */

    border-bottom: 2.5px solid #1f773f;
    outline: none;
}

.formulario .txtAguarde {
    font-size: 0.74rem;
    margin-top: -4px;
    color: rgb(18, 18, 18);
    font-family: 'Inter', sans-serif;
}

.formulario .txtNome {
    background: url(/inovafin_site/img/iconTxtNome.png) no-repeat right;
    background-size: 26px;
    padding-right: 40px;
    background-position: calc(100% - 3px);
}

.formulario .txtEmail {
    background: url(/inovafin_site/img/iconTxtEmail.png) no-repeat right;
    background-size: 26px;
    padding-right: 40px;
    background-position: calc(100% - 4px);
}

.formulario .txtMsg {
    margin: 0;
    height: 138px;
    resize: none;
    background-color: #F7FFFF;
}

.baixoForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgBaixoForm img {
    width: 120px;
    margin-top: 5px;
}

.formulario .botao {
    background-color: #28B65A;
    box-shadow: 0px 5px 0px 0px #49db7c;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all ease 0.1s;
    margin: 0px;
}

.formulario .botao:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

.formulario .botao:focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.742);   
}

.formulario .barra-central {
    height: 540px;
    width: 0px;
    border: solid 1px rgb(199, 199, 199);
}

.formulario>img {
    width: 570px;
    margin-top: -20px;
    height: auto;

}


.fundoPainelAdm {
    background: radial-gradient(70% 65% at 50% 50%, #3ac069 0%, #075925 83.98%);
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #075925;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.499);
    width: 100%;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 210px;
    text-align: center;
}

.logo img {
    width: 157px;
    vertical-align: middle;
}

.painelAdm {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painelAdm img {
    width: 40px;
}

.painelAdm p {
    font-size: 1.7rem;
    color: #FFF;
    margin-left: 10px;
}

.btnSair {
    width: 210px;
    text-align: center;
}

.btnSair button {
    border: none;
    background-color: #28B65A;
    padding: 10px 0px;
    border-radius: 7px;
}

.btnSair button a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.04rem;
    padding: 13px 20px;
}

.btnSair button:hover {
    background-color: rgba(46, 150, 83, 1);
    transition: 0.4s;
}

.btnSair a>img {
    width: 20px;
    margin: 0 5px -4px 0;
}

.main-painelAdm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-adm {
    margin-top: 50px;
    min-width: 70%;
}

.container-menuAdm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 40px;
}

.container-menuAdm p {
    height: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #FFF;
}

.btnMsg {
    background-color: #043014;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.btnMsg:hover {
    background-color: rgba(46, 150, 83, 1);
}

.btnMsg img {
    width: 23px;
    height: 19px;
    margin: 3px 0 0 1.5px;
}

.btnMsg .msgNo {
    width: 29px;
    height: 17px;
    margin: 0 1px 2px 0;
}

.container-table {
    background-color: #FAFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    height: 64vh;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.423);
}

/* Define a largura da barra de rolagem */
.content-table::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estiliza a área da barra de rolagem (track) */
.content-table::-webkit-scrollbar-track {
    background: #53535339;
    border-radius: 10px;
}

/* Estiliza o botão de rolagem (thumb) */
.content-table::-webkit-scrollbar-thumb {
    background: #2ba859;
    border-radius: 10px;
}

/* Estiliza o botão de rolagem (thumb) quando o mouse passa por cima */
.content-table::-webkit-scrollbar-thumb:hover {
    background: #1f773f;
}

.content-table {
    text-align: center;
    padding: 0 15px;
    overflow-x: auto;
    width: 100%;
}

.container-table>p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #043014;
    padding-bottom: 10px;
    text-align: center;
}

.sem-mensagem {
    margin-top: 100px;
}

.sem-mensagem p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
}

.sem-mensagem img {
    width: 140px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 4px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;

}

th {
    padding: 4px;
    background-color: #f2f2f2;
    border: none;
}

tr:hover {
    background-color: #b5f0ca47;
}

th.responder {
    border-radius: 0 15px 0 0;
}

th.id {
    border-radius: 15px 0 0 0;
}

td.id,
th.id {
    max-width: 60px;
}

td.nome,
th.nome {
    max-width: 220px;
}

td.email,
th.email {
    max-width: 275px;
}

td.mensagem,
th.mensagem {
    max-width: 240px;
}

td.responder,
th.responder {
    max-width: 240px;
}


.modalAdm-content p {
    color: #FFF;
}

.btnRespFC {
    border: none;
    background-color: #043014;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    margin: 0 auto;
}

.btnRespFC:hover {
    background-color: rgba(46, 150, 83, 1);
}

.btnRespFC img {
    width: 30px;
    height: 18px;
}

/*Estilo Painel Adm Resp*/
.content-tableResp {
    position: relative;
}

.btnVoltarResp a {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 25px;
    height: 25px;
    background-image: url('/inovafin_site/img/iconBtnVoltarResp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-form-resp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.content-form-resp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-form-resp .tituloForm {
    line-height: 1.4;
    font-weight: 500;
    font-size: 1.1rem;
}

.content-form-resp p {
    word-wrap: break-word;
}

.content-form-resp1 {
    display: flex;
    justify-content: center;
}

.content-form-resp2 {
    display: flex;
    justify-content: center;
}

form .campoForm {
    display: flex;
    align-items: center;
    max-width: 330px;
    width: 330px;
    height: 40px;
    border: 2px solid #043014;
    border-radius: 2px;
    padding: 4px 8px;
    outline: none;
}

.formResp-nome .campoForm p,
.formResp-email .campoForm p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.formResp-mensagem .campoForm p {
    overflow-y: auto;
    resize: vertical;
    word-wrap: break-word;
    resize: none;
}

.formResp-nome,
.formResp-mensagem {
    margin-right: 30px;
}

.formResp-mensagem .campoForm {
    align-items: flex-start;
    overflow-y: auto;
}

.formResp-resposta .campoForm {
    resize: none;
}

.content-form-resp2 .campoForm {
    height: 150px;
}

button.enviarResp {
    background-color: #28B65A;
    box-shadow: 0px 5px 0px 0px #49db7c;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all ease 0.1s;
    margin-left: auto;

}

button.enviarResp:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}