/* Importar a fontes da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

/* Define estilos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Configurações do layout principal */
.container-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    background-color: #F7FFFF;
}

header {
    grid-area: header;
    background-color: #196033;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.182);
    z-index: 4;
    width: 100%;
    overflow: hidden;
    position: fixed;
    padding: 0.9rem;
}

/* Estilos do cabeçalho */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos da logo */
.logo img {
    width: 157px;
    vertical-align: middle;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-bottom: 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.05rem;
    padding: 13px 20px;
    color: #FFF;
    font-weight: 600;
}

.nav-link:hover {
    color: #6fde96;
}

.btnFC button {
    border: none;
    background-color: #28B65A;
    padding: 10px 0px;
    border-radius: 7px;
}

.btnFC button a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.05rem;
    padding: 13px 20px;
}

.btnFC button:hover {
    background-color: rgba(46, 150, 83, 1);
    transition: 0.4s;
}

.btnFC a>img {
    width: 20px;
    margin-left: 7px;
}

/*Menu hamburguer*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* Estilos para a seção principal*/
main {
    grid-area: main;
}

/* Estilo para home */
.home {
    background: radial-gradient(40% 80% at 26.46% 60.88%,
            /* Posição e tamanho do gradiente radial */
            #33c064, #196033 76.91%
            /* Cores do gradiente e ponto de transição        #18512c           #24A351, #075925      */
        );

        /*50% 60% at 26.46% 60.88%,
        #22af54, #18512c 76.91%  */

    padding: 150px 0px 0px 0px;
    display: flex;
    justify-content: center;
    position: relative;
}

.conteudoHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -140px;
}

.celular1 img {
    width: 600px;
    height: 640px;
    position: relative;
    z-index: 2;
    margin-left: -18%;
}

.celular2 {
    display: none;
}

.txt-home {
    color: #FFF;
    z-index: 1;
    text-align: center;
}

.txt-home1 {
    font-size: 2.4rem;
    font-weight: 600;

}

.txt-home2 {
    font-size: 2.1rem;
    font-weight: 600;
    margin-left: 20px;
}

.txt-home>p>img {
    width: 200px;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: -18px;
}

.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39%;
}

.qrcode>img {
    width: 160px;
    margin: 0;
}


.bloco-txt {
    background-color: #262F3F;
    padding: 13px 40px 14px 18px;
    width: 190px;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.bloco-txt>img.setaBaixar {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 25px
}

.bloco-txt>img.android {
    float: right;
    margin-top: -29px;
    width: 40px;
    z-index: 2;
}

.bloco-txt>p,
span {
    font-size: 0.7rem;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 1.15;
}


.quadrado1 {
    width: 30vw;
    height: 30vw;
    background-color: rgba(217, 217, 217, 0.047);
    transform: rotate(5deg);
    border-radius: 3vw;
    position: absolute;
    top: calc(-2vw + 160px);
    left: 8vw;
    z-index: 0;
}

.quadrado2 {
    width: 20vw;
    height: 20vw;
    background-color: rgba(217, 217, 217, 0.047);
    transform: rotate(86deg);
    border-radius: 2.3vw;
    position: absolute;
    bottom: calc(3vw + 160px);
    right: 11vw;
    z-index: 0;
}

/*Estilo titulo de recursos*/
#recursos {
    margin-top: -25px;
    margin-bottom: 110px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-txtRecursos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7FFFF;
    width: 85%;
    border-radius: 30px;
    padding: 30px 0 50px 0;
}

.txtRecursos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-txtRecursos>.txtRecursos>h1 {
    font: bold 2.1rem arial;
    color: #075925;
}

.topic-mobile {
    display: none;
}

.quadrado3 {
    width: 21vw;
    height: 21vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(8deg);
    position: absolute;
    top: 32%;
    left: 7%;
    z-index: -1;
}

/*Quem Somos*/
section #quemSomos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    position: relative;
}

.container-quemSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-quemSomos h1, h2 {
    font-size: 1.85rem;
    font-weight: 600;
    color: #075925;
    align-self: flex-start;
}

.container-quemSomos h2 {
    align-self: flex-start;
    font-size: 1.5rem;
}

.container-quemSomos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-quemSomos1 {
    display: flex;
    align-items: center;
    gap: 75px;
}

.content-quemSomos1 p {
    width: 520px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.content-quemSomos1 .img-etecLG {
    position: relative;
}

.content-quemSomos1 .img-etecLG img {
    position: relative;
    width: 316px;
    border-radius: 17px;
    z-index: 1;
    transition: transform 0.23s ease-in-out;
}

.content-quemSomos1 .img-etecLG img:hover {
    transform: translateY(-9px) translateX(9px);
}

.content-quemSomos1 .sombra-img-etecLG {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 316px;
    height: 220px;
    border: 5px solid #236E3E;
    border-radius: 17px;
    z-index: 0;
}

.container-quemSomos2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.container-card-quemSomos {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 85px;
}    

.container-card-dev {
    display: flex;
    justify-content: center;
    position: relative;

}    

.card-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 180px;
    height: 240px;
    padding: 20px;
    /* background: radial-gradient(60.1% 60.83% at 50% 50%, #1d6837 0%, #04421b 83.98%); */
    /* background: linear-gradient(to bottom, #24A351, #236E3E); */
    background-color: #196033;
    border-radius: 17px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}    

.card-jean .card-dev:hover {
    transform: translateY(8px) translateX(-8px);
}

.card-vinicius .card-dev:hover {
    transform: translateY(8px); 
}

.card-erick .card-dev:hover {
    transform: translateY(8px) translateX(8px); 
}

.card-dev >img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #F7FFFF;
}    

.card-dev p {

    font-size: 1.1rem;
    color: #F7FFFF;
}    

.icone-redes-card {
    display: flex;
    gap: 7px;
}    

.icone-redes-card img{
    width: 22px;
}    

.sombra-card-dev {
    position: absolute;
    width: 180px;
    height: 240px;
    background-color: #95d2ab;
    border-radius: 17px;
    z-index: 0;
}    

.card-jean .sombra-card-dev {
    box-shadow: -10px 10px 45px -5px #0202023d;
    top: 17px;
    right: 17px;
}    

.card-erick .sombra-card-dev {
    box-shadow: 10px 10px 45px -5px #0202023d;
    top: 17px;
    left: 17px;
}    

.card-vinicius .sombra-card-dev {
    box-shadow: 0px 10px 45px -5px #0202023d;
    width: 200px;
    top: 17px;
}    
.quadrado4 {

    width: 21vw;
    height: 21vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(84deg);
    position: absolute;
    bottom: -38%;
    right: 6%;
    z-index: -1;
}

.quadrado5 {
    width: 21vw;
    height: 21vw;
    background-color: rgba(0, 255, 72, 0.07);
    border-radius: 11%;
    transform: rotate(8deg);
    position: absolute;
    bottom: 10%;
    left: 8%;
    z-index: 0;
}

/*perguntas frequentes*/
.container-Perguntas {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    position: relative;
    z-index: 0;
    margin-bottom: 110px;
}

.container-Perguntas>h1 {
    color: #075925;
    font-size: 1.85rem;
    font-weight: 600;
}

.container-Perguntas>a {
    justify-content: center;
    color: #075925;
    font-size: 1rem;
    text-decoration: none;
}

.box-perguntas {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 870px;
}

.pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #043014;
    color: #38754D;
}

.pergunta img {
    width: 20px;
}

.pergunta h3 {
    font-size: 1.18rem;
    color: #043014;
}

.resposta p {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 400;
}

.resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq.active .resposta {
    max-height: 300px;
}

.faq.active #setaPerguntas {
    transform: rotate(180deg);
}

#setaPerguntas {
    transition: transform .3s ease-in-out;
}

.quadrado6 {
    width: 21vw;
    height: 21vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(85deg);
    position: absolute;
    bottom: 15%;
    right: 8%;
    z-index: -1;
}

/* Estilos do rodapé */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    padding: 15px 60px;
    z-index: 0;
    color: rgb(79, 79, 79);
}

.footer-cima {
    padding: 0 50px;
    border-bottom: 2px solid rgb(193, 193, 193);
}

.footer-cima>img {
    width: 157px;
}

.footer-baixo {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 0 40px;
}

.footer-b2 {
    border-left: 2px solid rgb(193, 193, 193);
    padding-left: 15px;
}

.footer-b1,
.footer-b2 {
    margin-top: auto;
}

.footer-baixo p {
    font-size: 0.9rem;
}