/* Importar a fontes da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

/* Define estilos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Configurações do layout principal */
.container-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    background-color: #f7ffff;
}

header {
    grid-area: header;
    background-color: #075925;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.499);
    z-index: 4;
    width: 100%;
    overflow: hidden;
    position: fixed; 
}
/* Estilos do cabeçalho */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.9rem;         
}

/* Estilos da logo */
.logo img {
    width: 157px;
    vertical-align: middle;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-bottom: 5px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.04rem;
    padding: 13px 20px;
    color: #FFF;
    font-weight: 600;
}

.nav-link:hover {
    color: #6fde96;
}

.btnFC button {
    border: none;
    background-color: #28B65A;
    padding: 10px 0px;
    border-radius: 7px;
}

.btnFC button a {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.04rem;
    padding: 13px 20px;
}

.btnFC button:hover {
    background-color: rgba(46, 150, 83, 1);    
    transition: 0.4s;
}

.btnFC a>img {
    width: 20px;
    margin-left: 7px;
}

/*Menu hamburguer*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* Estilos para a seção principal*/
main {
    grid-area: main;
}

/* Estilo para home */
.home {
    background: radial-gradient(40% 80% at 26.46% 60.88%,
            /* Posição e tamanho do gradiente radial */
            #24A351, #075925 76.91%
            /* Cores do gradiente e ponto de transição  */
        );
    padding: 160px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.conteudoHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -140px;
}

.celular1 img {
    width: 600px;
    height: 640px;
    position: relative;
    z-index: 2;
    margin-left: -18%;
}

.celular2 {
    display: none;
}

.txt-home {
    color: #FFF;
    z-index: 1;
    text-align: center;
}

.txt-home1 {
    font-size: 2.4rem;
    font-weight: 600;
    
}

.txt-home2 {
    font-size: 2.1rem;
    font-weight: 600;
    margin-left: 20px;
}

.txt-home>p>img {
    width: 200px;
    vertical-align: middle;
    margin-top: 3px;
    margin-left: -18px;
}

.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39%  ;
}

.qrcode>img {
    width: 160px;
    margin: 0;
}


.bloco-txt {
    background-color: #262F3F;
    padding: 13px 40px 14px 18px;
    width: 190px;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.bloco-txt>img.setaBaixar {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 25px
}

.bloco-txt>img.android {
    float: right;
    margin-top: -29px;
    width: 40px;
    z-index: 2;
}

.bloco-txt>p , span{
    font-size: 0.7rem;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 1.15;
}


.quadrado1 {
    width: 30vw;
    height: 30vw;
    background-color: rgba(217, 217, 217, 0.047);
    transform: rotate(5deg);
    border-radius: 3vw;
    position: absolute;
    top: calc(-2vw + 160px);
    left: 10vw;
    z-index: 0;
}

.quadrado2 {
    width: 20vw;
    height: 20vw;
    background-color: rgba(217, 217, 217, 0.047);
    transform: rotate(86deg);
    border-radius: 3vw;
    position: absolute;
    bottom: calc(-3vw + 160px);
    right: 11vw;
    z-index: 0;
}

/*Estilo titulo de recursos*/
#recursos {
    margin-top: -2vw;
    margin-bottom: 3vw;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-txtRecursos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7FFFF;
    width: 90%;
    border-radius: 20px;
    padding: 25px 0 40px 0;
    z-index: -1;
}

.txtRecursos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-txtRecursos>.txtRecursos>h1 {
    font: bold 2.1rem arial;
    color: #10672F;
}

.quadrado3 {
    width: 21vw;
    height: 21vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(18deg);
    position: absolute;
    top: 32%;
    left: 7%;
    z-index: -1;
}

/*Quem Somos*/
.container-quemSomos {
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
    position: relative;
    z-index: 0;
    /*border: 1px solid tomato;*/
}

.quemSomos {
    background-color: #f3f3f3;
    width: 75vw;
    border-radius: 20px;
    position: relative;
    /*border: 1px solid tomato;*/
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: 1px solid tomato;*/
}

.texto>p {
    text-align: left;
    font-size: 1.2vw;
    margin-right: 3vw;
    text-align: justify;
    padding: 0vw 2vw;
}

.texto>img {
    width: 27vw;
    height: 17vw;
    border-radius: 10px;
}

.conteudo-quemSomos1 {
    margin-bottom: 3vw;
}

.conteudo-quemSomos2>.texto>p {
    margin-left: 3vw;
    margin-right: 0;
}

.conteudo-quemSomos>h1 {
    margin-top: -3vw;
    text-align: center;
    font: 600 2.2vw arial;
    font-family: 'Poppins', 'Arial', sans-serif;
    margin-bottom: 3vw;
}

.conteudo-quemSomos {
    padding: 3vw;
}

.quadrado4 {
    width: 19vw;
    height: 19vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(81deg);
    position: absolute;
    bottom: -38%;
    right: 6%;
    z-index: -1;
}

.quadrado5 {
    width: 21vw;
    height: 21vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(11deg);
    position: absolute;
    bottom: -14%;
    left: -8%;
    z-index: -1;
}


/* Estilo desenvolvedores*/
#button>img {
    width: 1.1vw;
}

#modal {
    z-index: 1;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    padding: 2vw;
    background-color: #075925;
    display: none;
}

.abreModal {
    animation-name: abre-modal;
    animation-duration: .3s;
    box-shadow: 2px 2px 10px black;
}

@keyframes abre-modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#button {
    border: none;
    background-color: #075925;    
    border-radius: 0.6vw;
    padding: 0.4vw 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

#button:hover { 
    background-color: rgba(46, 150, 83, 1);
    transition: 0.4s;
}

#button>p {
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.animacaoSetaAbre {
    animation-name: animacao-abre;
    animation-duration: 1s;
    transform: rotate(180deg);

}

@keyframes animacao-abre {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}

.animacaoSetaFecha {
    animation-name: animacao-fecha;
    animation-duration: 1s;
    transform: rotate(0deg);

}

@keyframes animacao-fecha {
    from {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(0deg)
    }
}

/*Conteudo do Desenvolvedores*/

/* #containerDev {
    display: flex;
    flex-direction: column;
    opacity: 0; 
    animation: apareceDev 1s linear forwards; 
}

@keyframes apareceDev {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* Opacidade 100% no final 
    }
} */
.desenvolvedor {
    display: flex;
    align-items: center;
    width: 40vw;
    padding: 1vw 2vw;
    background-color: #EFEFEF;
    border-radius: 5px;
    margin-bottom: 1.8vw;
}

.erick .desenvolvedor {
    margin: 0;
}

.fotoDev>p {
    margin-top: -1.9vw;
    font-size: 1.2vw;
    font-weight: 500;
    color: #ffffff;
    background-color: #268848;
    z-index: 1;
    position: relative;
    border-radius: 1vw;
}

.fotoDev>img {
    width: 7vw;
}

.textoDev {
    margin-left: 2vw;
    text-align: left;

}

.textoDev>p {
    font-size: 1.1vw;
}

.textoDev>h1 {
    font-size: 1.3vw;
}

.desenvolvedor>.redes>a>img {
    margin-left: 0.5vw;
    width: 2vw;
}

.redes {
    margin-left: .25vw;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

/*perguntas frequentes*/
.container-Perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}

.container-Perguntas>h1 {
    font-weight: 600;
    font-size: 2.2vw;
    margin-bottom: .3vw;
}

.container-Perguntas>a {
    justify-content: center;
    font-weight: 600;
    color: #075925;
    font-size: 1vw;
    margin-bottom: 5vw;
    margin-top: 2vw;
}

.perguntasFrequentes {
    width: 60vw;
}

.faq {
    display: flex;
    justify-content: center;
    width: 100%;
    /*border: 1px solid tomato;*/
}

.pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: .16vw solid rgb(0, 0, 0);
    margin-top: 2vw;

}

.pergunta img {
    width: 1.1vw;
}

.pergunta h3 {
    font-size: 1.3vw;
    font-weight: 600;
}

.resposta p {
    padding-top: 1vw;
    font-size: 1.1vw;
    font-weight: 400;
}

.resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq.active .resposta {

    max-height: 300px;
}

.faq.active #setaPerguntas {
    transform: rotate(180deg);
}

#setaPerguntas {

    transition: transform .3s ease-in-out;
}

.quadrado6 {
    width: 23vw;
    height: 23vw;
    background-color: rgba(45, 147, 74, 0.070);
    border-radius: 11%;
    transform: rotate(70deg);
    position: absolute;
    bottom: -3%;
    right: 8%;
    z-index: -1;
}

/* Estilos do rodapé */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #262F3F;
    padding: 2vw;
    color: white;
    z-index: 0;
}

.footer-cima {
    padding: 0 3vw;
    border-bottom: .1vw solid;
}

.footer-cima>img {
    width: 12vw;
}

.footer-baixo>p {
    font-size: .9vw;
}

/*Fale Conosco*/
.fundoFaleConosco {
    background: radial-gradient(60.1% 60.83% at 50% 50%, #24A351 0%, #075925 83.98%);
    background-size: cover;
    background-attachment: fixed;
}

.faleConosco {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulario label {
    font-family: 'Inter', sans-serif;
    color: rgb(53, 53, 53);
    font-size: 1.03rem;
    line-height: 1.4;
    font-weight: bold;
}

.formulario {
    background-color: #F7FFFF;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    width: 460px;
    margin: 0px 20px;
}

.formulario input,
textarea {
    margin-bottom: 20px;
    border: 1px solid #676767;
    border-radius: 2px;
    padding: 3px 6px;
    font-size: 1rem;
    outline: none;
    width: 100%;
    height: 40px;
}

.formulario input:focus,
textarea:focus {
    border: 2px solid #3bba53b8;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.742);
    outline: none;
}

.formulario p {
    font-size: 0.7rem;
    margin-top: -4px;
    color: rgb(82, 80, 80);
    font-family: 'Inter', sans-serif;
}

.formulario .txtNome {
    background: url(img/iconTxtNome.png) no-repeat right;
    background-size: 26px;
    padding-right: 40px;
    background-position: calc(100% - 3px);
}

.formulario .txtEmail {
    background: url(img/iconTxtEmail.png) no-repeat right;
    background-size: 26px;
    padding-right: 40px;
    background-position: calc(100% - 4px);
}

.formulario .txtMsg {
    margin: 0;
    height: 138px;
    resize: none;
    background-color: #F7FFFF;
}

.formulario .botao {
    background-color: #28B65A;
    box-shadow: 0px 5px 0px 0px #49db7c;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    margin: 15px 0 0 0;
    float: right;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all ease 0.1s;

}

.formulario .botao:active {
    transform: translateY(5px);
}