/* Importar a fonte Poppins da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Define estilos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 2vw;
    box-sizing: border-box;
}

/* Configurações do layout principal */
.container-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    background-color: #f7ffff;
}


/* header,
a.logo>img,
nav,
section,
footer {
    border: 1px solid red;
} */

/* Estilos do cabeçalho */
header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #075925;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.499);
    z-index: 2;
    overflow: hidden;
    position: fixed; 
    width: 100vw;
    padding: 3vw;
} 

/* Estilos da logo */
a.logo>img {
    width: 12vw;
}

/* Estilos para links de navegação */
li>a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 13px 20px;
    font-size: 1.3vw;
}

li {
    display: inline;
    list-style: none;
}

li>a:hover {
    color: #6fde96;
}

/* Estilos para o botão "Fale Conosco" */
.btnFC {
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    background-color: #28B65A;
    border-radius: 9px;
    padding: 1vw;
    width: 12.8vw;
}

.btnFC>img {
    width: 1.3vw;
    margin-left: 1vw;
}

/* Estilos para a seção principal*/
main {
    grid-area: main;
}

/* Estilo para home */
#home {
    background: radial-gradient(
        50% 90% at 26.46% 60.88%, /* Posição e tamanho do gradiente radial */
        #24A351, #075925 76.91% /* Cores do gradiente e ponto de transição */
    );
    padding:11vw 3vw;
    position: relative; /* Adicione esta linha */
}

.quadrado1{
    width: 30vw; 
    height: 27vw;
    background-color: rgba(217, 217, 217, 0.047); /* Cor sólida com transparência */
    transform: rotate(10deg);
    border-radius: 11%;
    position: absolute;
    top: calc(10% + 11vw); /* 30% + o valor de padding-top */
    left: 6%;
    z-index: 0; /* Agora o quadrado está acima do texto */
}

.quadrado2{
    width: 20vw; 
    height: 19vw;
    background-color: rgba(217, 217, 217, 0.047); /* Cor sólida com transparência */
    transform: rotate(-20deg);
    border-radius: 11%;
    position: absolute;
    top: calc(60% + 11vw); /* 50% + o valor de padding-top */
    left: 74%;
    z-index: 0; /* Agora o quadrado está acima do texto */
} 

#home>.txt-home {
    color: #FFF;
    width: 30%;
    z-index: 1; /* Colocado um índice z maior para que fique na frente dos quadrados */
}



/*#home .txt-home>p>img {

}*/

/* Estilos do rodapé */
footer {
    grid-area: footer;
}


/*Estilo titulo de recursos*/
.texto-recursos
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
}
.txtRecursos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7ffff;
    border-radius: 20px;
    width: 90%;
    height: 6vw;
    margin-top: -3vw;
    z-index: 1;
    /*border: 1px solid tomato;*/
}
.texto-recursos>.txtRecursos>h1
{
    font: bold 4vw arial;
    color: #10672F;
}
/*Div resposável pelo carrossel*/
.recursos{
    height: 45vw;
    /*border: 1px solid tomato;*/
}
.carrossel{
    /*border: 2px solid tomato;*/
    margin-top: 2vw;
    width: 100%;
    min-height: 50vw;
    display: flex;
    justify-content:center;
    gap: 9vw;
}
.imagesCarrossel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}
.slider{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

.btnSetaVoltar{
    transform: rotate(180deg);
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btnSetaAvancar{
    min-height: 2px;
    min-width: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*Quem Somos*/
.container-quemSomos
{
    display: flex;
    justify-content: center;
    margin-top: 7vw;
    /*border: 1px solid tomato;*/
}
.quemSomos
{
    margin-top: 4vw;
    background-color: #EFEFEF;
    width: 85vw;
    height: 60vw;
    border-radius: 20px;
    /*border: 1px solid tomato;*/
}
.quemSomos>h1
{
    text-align: center;
    margin-top: 2vw;
    font: bold 3vw arial;
} 

/* Estilo desenvolvedores*/

#button
{
    width: 4.5vw;
    height: 4.5vw;
    margin-top: -1vw;
    margin-left: -1vw;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: rgba(46, 150, 83, 1);
}
#button>img
{
    width: 2vw;
    height: 1.5vw;
}
dialog
{
    text-align: center;
    margin-left: 6vw;
    border-radius: 10px;
    width: 60vw;
    height: 38.5vw;
}
.rotacionada
{
    transform: rotate(180deg);
}