/* Importar a fonte Poppins da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Define estilos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 2vw;
    box-sizing: border-box;
}

/* Configurações do layout principal */
.container-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    background-color: #f7ffff;
}

/* Estilos do cabeçalho */
header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #075925;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.499);
    z-index: 2;
    overflow: hidden;
    position: fixed; 
    width: 100vw;
    padding: 1.3vw;
} 

/* Estilos da logo */
a.logo>img {
    width: 12vw;
}

/* Estilos para links de navegação */
li>a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 13px 20px;
    font-size: 1.3vw;
}

li {
    display: inline;
    list-style: none;
}

li>a:hover {
    color: #6fde96;
}

/* Estilos para o botão "Fale Conosco" */
.btnFC {
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    background-color: #28B65A;
    border-radius: 9px;
    padding: 1vw;
    width: 12.8vw;
}

.btnFC>img {
    width: 1.3vw;
    margin-left: 1vw;
}

/* Estilos para a seção principal*/
main {
    grid-area: main;
}

/* Estilo para home */
#home {
    background: radial-gradient(
        50% 90% at 26.46% 60.88%, /* Posição e tamanho do gradiente radial */
        #24A351, #075925 76.91% /* Cores do gradiente e ponto de transição */
    );
    padding:11vw 3vw;
    position: relative; 
}

.quadrado1{
    width: 30vw; 
    height: 27vw;
    background-color: rgba(217, 217, 217, 0.047); /* Cor sólida com transparência */
    transform: rotate(10deg);
    border-radius: 11%;
    position: absolute;
    top: calc(10% + 11vw); /* 30% + o valor de padding-top */
    left: 6%;
    z-index: 0; /* Agora o quadrado está acima do texto */
}

.quadrado2{
    width: 20vw; 
    height: 19vw;
    background-color: rgba(217, 217, 217, 0.047); /* Cor sólida com transparência */
    transform: rotate(-20deg);
    border-radius: 11%;
    position: absolute;
    top: calc(60% + 11vw); /* 50% + o valor de padding-top */
    left: 74%;
    z-index: 0; /* Agora o quadrado está acima do texto */
} 

#home>.txt-home {
    color: #FFF;
    width: 51%;
    z-index: 1; /* Colocado um índice z maior para que fique na frente dos quadrados */
    border: 1px solid tomato;
    text-align: center;
}

.txt-home1 {
    font-size: 3vw;
    font-weight: bold;
}

.txt-home2 {
    font-size: 2.3vw;
    
}

.txt-home > img  {
    width: 13vw;
    margin-top: 2vw;
}



/*#home .txt-home>p>img {

}*/

/* Estilos do rodapé */
footer {
    grid-area: footer;
}


/*Estilo titulo de recursos*/
.texto-recursos
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
}
.txtRecursos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7ffff;
    border-radius: 20px;
    width: 90%;
    height: 6vw;
    margin-top: -3vw;
    z-index: 1;
    /*border: 1px solid tomato;*/
}
.texto-recursos>.txtRecursos>h1
{
    font: bold 3.3vw arial;
    color: #10672F;
    margin-top: 3vw;
}
/*Div resposável pelo carrossel*/
.recursos{
    height: 45vw;
    /*border: 1px solid tomato;*/
}
.carrossel{
    /*border: 2px solid tomato;*/
    margin-top: 0.3vw;
    width: 100%;
    min-height: 50vw;
    display: flex;
    justify-content:center;
    gap: 9vw;
}
.imagesCarrossel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}
.slider{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

.btnSetaVoltar{
    transform: rotate(180deg);
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btnSetaAvancar{
    min-height: 2px;
    min-width: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*Quem Somos*/
.container-quemSomos
{
    display: flex;
    justify-content: center;
    margin-top: 7vw;
    /*border: 1px solid tomato;*/
}
.quemSomos
{
    margin-top: 4vw;
    background-color: #EFEFEF;
    width: 85vw;
    height: 70vw;
    border-radius: 20px;
    z-index: 1;
    /*border: 1px solid tomato;*/
}
.conteudo-quemSomos
{
    /*border: 1px solid tomato;*/
    z-index: 1;
}
/*Quem somos parte de cima*/
.texto1
{
    display: flex;
    padding: 5vw;
    justify-content: center;
    align-items: center;
    
    /*border: 1px solid tomato;*/
}
.texto1>p
{
    text-align: left;
    font-size: 1.58vw;
    margin-right: 3vw;
    text-align: justify;
}
.texto1>img
{
    width: 30vw;
    height: 20vw;
    border-radius: 10px;
}

.conteudo-quemSomos1>h1
{
    text-align: center;
    margin-top: 2vw;
    font: bold 3vw arial;
    font-family: 'Poppins', 'Arial', sans-serif;
} 

/*Quem somos parte de baixo*/
.texto2
{
    display: flex;
    padding: 5vw;
    margin-top: -4vw;
    justify-content: center;
    align-items: center;
    /*border: 1px solid tomato;*/
}
.texto2>p
{
    text-align: left;
    font-size: 1.58vw;
    text-align: justify;
    margin-left: 3vw;  
}
.texto2>img
{
    border-radius: 10px;
    width: 30vw;
}


/* Estilo desenvolvedores*/
#button>img
{
    width: 2vw;
    height: 1.5vw;
}
#modal
{
    z-index: 2;
    position: absolute;
    text-align: center;
    margin-left: -1vw;
    border-radius: 10px;
    width: 60vw;
    height: 54vw;
    background-color: #075925;
    display: none;
}
.abreModal
{
    animation-name: abre-modal;
    animation-duration: 1s;
    box-shadow: 2px 2px 10px black;
}
@keyframes abre-modal 
{
    from{height: 0vw}
    to{height: 54vw}
}
#button
{
    border: none;
    background-color: #075925;
    width: 21vw;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}
#button:hover
{
    
    background-color: rgba(46, 150, 83, 1);
}
.voltaRadiusDev
{
    animation-name: voltaRadius;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes voltaRadius
{
    from{border-radius: 0px;}
    to{border-radius: 10px;}   
}

.radiusDev
{
    animation-name: bordaAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes bordaAnim 
{
    from{border-radius: 10px;}
    to{border-radius: 0px;}   
}
#button > p
{
    margin-right: 1vw;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.animacaoSetaAbre
{
    animation-name: animacao-abre;
    animation-duration: 1s;
    transform: rotate(180deg);
    
}
@keyframes animacao-abre
{
   from{transform: rotate(0deg)}
   to{transform: rotate(180deg)}
}

.animacaoSetaFecha
{
    animation-name: animacao-fecha;
    animation-duration: 1s;
    transform: rotate(0deg);
    
}
@keyframes animacao-fecha
{
    from{transform: rotate(180deg)}
    to{transform: rotate(0deg)}
}

/*Conteudo do Desenvolvedores*/

#containerDev {
    display: grid;
    place-items: center;
    opacity: 0; 
    animation: apareceDev 1s linear forwards; /* Executar a animação após um atraso de 2 segundos */
}

@keyframes apareceDev {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* Opacidade 100% no final */
    }
}
/*Vinícius*/
.vinicius
{
    display: flex;
    margin-top: 2vw;
    justify-content: space-between;
    align-items: center;
    width: 54vw;
    padding: 2vw;
    background-color: #EFEFEF;
    border-radius: 5px;
}
.fotoVinicius>p
{
    margin-top: -3vw;
    font-size: 2vw;
    font-weight: bold;
}
.fotoVinicius>img
{
    width: 10vw;
}
.viniciusTexto
{
    margin-left: 6vw;
    text-align: left;

}
.viniciusTexto>p
{ 
    font-size: 1.5vw;
}
.viniciusTexto>h1
{ 
    font-size: 2vw;
}
.viniciusTexto>.redes>a>img
{
    margin-left: 1vw;
    width: 3vw;
}
.redes
{
    margin-top: 1vw;
    margin-left: 20vw;
    display: flex;
}
/*Jean*/
.jean
{
    display: flex;
    width: 54vw;
    background-color: #EFEFEF;
    margin-top: 2vw;
    justify-content: left;
    align-items: center;
    padding: 2vw;
    border-radius: 5px;
}
.fotoJean>p
{
    margin-top: -3vw;
    font-weight: bold;
}
.fotoJean>img
{
    width: 10vw;
}
/*Erick*/
.erick
{
    display: flex;
    justify-content: left;
    margin-top: 2vw;
    width: 54vw;
    background-color: #EFEFEF;
    align-items: center;
    padding: 2vw;
    border-radius: 5px;
}
.fotoErick>p
{
    margin-top: -3vw;
    font-weight: bold;
}
.fotoErick>img
{
    width: 10vw;
}

/*perguntas frequentes*/
.containerPerguntas
{
    margin-top: 5vw;
}
.containerPerguntas>h1
{
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 3vw;
    margin-bottom: 5vw;
}
.containerPerguntas>a
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #075925;
    font-size: 1vw;
    margin-bottom: 5vw;
}
.perguntasFrequentes
{
    display: flex;
    justify-content: center;
    width: 100%;
    /*border: 1px solid tomato;*/
}
.faq
{
    display: inline;
    width: 75vw;
}
.pergunta
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
    border-bottom:3px solid rgb(0, 0, 0);
    font-family: 'Poppins', 'Arial', sans-serif;
}
.perguntasFrequentes
.pergunta h3,
.pergunta2 h3,
.pergunta3 h3,
.pergunta4 h3 {
    font-size: 1.9vw;
}

.perguntasFrequentes
.resposta p,
.resposta2 p,
.resposta3 p,
.resposta4 p {
    padding-top: 1vw;
    font-size: 1.3vw;
}

.resposta
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.faq.active .resposta
{
    max-height: 300px;
}
.faq.active #setaPerguntas
{
    transform: rotate(180deg);
}
#setaPerguntas
{
    transition: transform .5s ease-in-out;
}


.faq2
{
    display: inline;
    width: 75vw;
    
}
.pergunta2
{
    margin-top: 3vw;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-bottom:3px solid rgb(0, 0, 0);
    font-family: 'Poppins', 'Arial', sans-serif;
}
.resposta2
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.faq2.active2 .resposta2
{
    max-height: 300px;
}
.faq2.active2 #setaPerguntas2
{
    transform: rotate(180deg);
}
#setaPerguntas2
{
    transition: transform .5s ease-in-out;
}

.faq3
{
    display: inline;
    width: 75vw;
}
.pergunta3
{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom:3px solid rgb(0, 0, 0);
    font-family: 'Poppins', 'Arial', sans-serif;
}
.resposta3
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.faq3.active3 .resposta3
{
    max-height: 300px;
}
.faq3.active3 #setaPerguntas3
{
    transform: rotate(180deg);
}
#setaPerguntas3
{
    transition: transform .5s ease-in-out;
}

.faq4
{
    display: inline;
    width: 75vw;
    margin-bottom: 5vw;
}
.pergunta4
{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom:3px solid rgb(0, 0, 0);
    font-family: 'Poppins', 'Arial', sans-serif;
}
.resposta4
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.faq4.active4 .resposta4
{
    max-height: 300px;
}
.faq4.active4 #setaPerguntas4
{
    transform: rotate(180deg);
}
#setaPerguntas4
{
    transition: transform .5s ease-in-out;
}